# ========================================
# FICHIERS SENSIBLES
# ========================================
.env
.DS_Store

# ========================================
# DOSSIERS SYSTÈME
# ========================================
node_modules/
vendor/

# ========================================
# FICHIERS IDE
# ========================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ========================================
# FICHIERS TEMPORAIRES
# ========================================
*.log
*.tmp
*.cache